[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/Grumbel/shared-modules.git
[submodule "external/cmake-modules"]
	path = external/cmake-modules
	url = https://gitlab.com/grumbel/cmake-modules.git
